*{
  box-sizing: border-box;
}

.container{
  max-width: 80vw;
  margin: 0 auto;
}

.box{
  text-align: center;
  background-color: #ffc0cb;
  height:150px;
  border: 1px black solid;
  padding:5px;
  position:relative;
}

.Nested{
  border: white 1px solid;
  height: 100%;
  background-color: #f07f80;
  position:relative;
}

span{
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
}
